.user-form{
  padding: 0 1em;

  color: $primary-color;
  border: 1px solid $prim-border-color;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  div{
    display: flex;
    flex-direction: column;
    max-width: 7em;
  }
  input{
    margin: .5em 0;
    font-size: 20px;
    padding: .3em;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgray;
  }
  button{
    margin: 0 0 2em 0;
    padding: 1em 2em;
    border-radius: $btn-border-rad;
  }
  button:hover{
    cursor: pointer;
    background-color: $prim-highlight-color;
  }

}