$primary-color: rgb(78, 78, 78);

.user-list{
  color: $primary-color;
  .user-list-item{
    border: 1px #000000 solid;
    margin: 10px;
    padding: 10px;
  }

  .user-list-item:hover{
    background-color: darken($color: rgb(235, 235, 235), $amount: 1);
  }
}